[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
scikit-learn = "*"
statsmodels = "*"
pingouin = "*"
uvicorn = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
